.notes-container {
    margin: 70px 20px;
    position: relative;
}

.notes-search-add {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px 50px 20px;
}

.searchDiv {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
}

.search-input {
    width: 100%;
    padding: 10px 10px 10px 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-icon {
    position: absolute;
    left: 20px;
}

.clear-search {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.clear-search:hover{
    color: #f1335c;
}

.add-note-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-radius: 5px;
    background-color: #6e33f1;
    color: white;
    gap: 7px;
    cursor: pointer;
    padding: 10px;
}

.heading {
    margin-left: 40px;
    color: black;
    padding: 5px;
}

.notes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.no-notes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
    margin-top: 70px;
}

.note-card {
    /* width: 100%; */
}

@media (max-width:425px) {

    .notes-search-add {
        margin: 0 0 10px 0;
    }

    .search-input {
        margin: 0;
    }

    .add-note-btn span {
        display: none;
    }

    .heading {
        margin: 0;
        font-size: 18px;
    }

    .note-card {
        width: 100%;
    }
}

@media (min-width: 425px) {
    .note-card {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .note-card {
        width: 300px;
    }
}

/* size > 1200px */
@media (min-width: 1200px) {
    .note-card {
        width: 300px;
    }
}